<sf-header />
<div class="sf-settings">
  <div class="sf-settings__content">
    <form [formGroup]="form">
      <div class="sf-form-title">
        <h1 tabindex="0">Settings</h1>
      </div>
      <span
        tabindex="0"
        class="sf-span sf-span__success"
        *ngIf="displaySuccessMessage()"
        >Changes saved successfully</span
      >
      <div class="sf-input">
        <input
          type="text"
          placeholder="First name*"
          formControlName="firstName"
        />
        <span
          tabindex="0"
          *ngIf="
            form.get('firstName')?.touched && form.get('firstName')?.invalid
          "
          class="sf-input__error"
          >Please enter your first name</span
        >
      </div>
      <div class="sf-input">
        <input
          type="text"
          placeholder="Last name*"
          formControlName="lastName"
        />
        <span
          tabindex="0"
          *ngIf="form.get('lastName')?.touched && form.get('lastName')?.invalid"
          class="sf-input__error"
          >Please enter your last name</span
        >
      </div>
      <div class="sf-input">
        <input
          type="text"
          placeholder="Phone number"
          formControlName="phoneNumber"
          mask="(000) 000-0000"
        />
        <span
          tabindex="0"
          *ngIf="
            form.get('phoneNumber')?.touched && form.get('phoneNumber')?.invalid
          "
          class="sf-input__error"
          >Please enter a valid phone number</span
        >
      </div>
      <div class="sf-radio-group">
        <h3 tabindex="0">Notification preference</h3>
        <label>
          <input
            type="radio"
            value="browser"
            formControlName="notificationPreference"
          />
          <span tabindex="0">Receive In browser notifications</span>
        </label>
        <label>
          <input
            type="radio"
            value="email"
            formControlName="notificationPreference"
          />
          <span tabindex="0">Receive only email notifications</span>
        </label>
      </div>
      <div class="sf-radio-group">
        <h3 tabindex="0">Profile visibility</h3>
        <label>
          <input
            type="radio"
            value="public"
            formControlName="profileVisibility"
          />
          <span tabindex="0">Public</span>
        </label>
        <label>
          <input
            type="radio"
            value="private"
            formControlName="profileVisibility"
          />
          <span tabindex="0">Private</span>
        </label>
      </div>
      <div class="sf-settings__buttons">
        <button class="sf-button green" (click)="exportSettings()">
          Export user info
        </button>
        <button class="sf-button primary" (click)="saveSettings()">Save</button>
      </div>
    </form>
  </div>
</div>
