@import "../../shared/styles/variables.scss";

.sf-settings {
  background-color: $color-gray-02;
  min-height: 100%;
  padding-top: $header-height;
  padding-bottom: 20px;
  margin-top: 20px;

  .sf-form-title {
    margin-bottom: 10px;
    h1 {
      margin: 0;
    }
  }

  &__content {
    width: 450px;
    background-color: white;
    padding: 20px;
    box-shadow: $box-shadow;
    border-radius: 5px;
    margin: auto;
  }

  &__buttons {
    display: flex;
    gap: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .sf-settings {
    &__content {
      width: 80%;
    }
  }
}

.sf-header {
  &__section {
    &__chat-button {
      display: none !important;
    }
  }
}
