@import "../../shared/styles/variables.scss";

.sf-profile {
  padding-top: $header-height;
  background-color: $color-gray-02;
  min-height: calc(100% - 90px);
  display: flex;
  justify-content: center;

  &__section {
    width: 350px;
    flex-shrink: 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    margin: 20px 50px 30px 50px;
  }

  &__content {
    display: flex;
    gap: 20px;

    &__bio {
      width: 350px;
      flex-shrink: 0;
      display: flex;
      gap: 20px;
      flex-direction: column;

      &__info {
        padding: 20px;
        box-shadow: $box-shadow;
        background-color: white;
        border-radius: 5px;
        height: fit-content;

        h4 {
          font-size: 16px;
          margin-top: 0;
        }

        p {
          color: gray;
          margin-bottom: 30px;
        }

        &__details {
          border-top: 1px solid $color-gray-01;
          padding-top: 15px;

          ul {
            padding: 0;
            margin: 0;

            li {
              list-style: none;
              display: flex;
              align-items: center;
              gap: 15px;
              padding: 10px 0;

              i-feather {
                color: gray;
              }
            }
          }
        }
      }

      &__pictures {
        box-shadow: $box-shadow;
        background-color: white;
        border-radius: 5px;
        height: fit-content;
        padding: 20px;

        h4 {
          margin-top: 0;
        }

        img {
          width: calc(33.3333333333% - 3.4px);
        }

        > div {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          border-radius: 10px;
          overflow: hidden;
        }
      }
    }

    &__posts {
      max-width: 700px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  .sf-profile {
    &__container {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: 1279px) {
  .sf-profile {
    &__section {
      &__responsive-display:first-child {
        display: block !important;
      }

      &:first-child {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        height: 100%;
        overflow-y: auto;
        z-index: 99;

        .sf-profile__sidebar {
          position: relative;
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .sf-profile {
    &__section {
      &__responsive-display:last-child {
        display: block !important;
      }
      &:last-child {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        background-color: white;
        height: 100%;
        overflow-y: auto;
        z-index: 99;

        &__responsive-display {
          display: block;
        }

        .sf-profile__sidebar {
          position: relative;
        }
      }
    }
  }
}
