<div class="sf-auth">
  <div class="sf-auth__container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="sf-form-title">
        <h1 tabindex="0" i18n="@@signupTitle">Sign up</h1>
        <p tabindex="0" i18n="@@signupSubTitle">
          Become part of the worldwide community!
        </p>
      </div>
      <span
        i18n="@@signupError"
        tabindex="0"
        class="sf-span sf-span__error"
        *ngIf="errorMessage() == 'already exist'"
        >This email doesn't exist</span
      >
      <div class="sf-input">
        <input
          type="text"
          placeholder="First name*"
          formControlName="firstName"
          i18n-placeholder="@@firstNameRequired"
        />
        <span
          i18n="@@firstNameError"
          tabindex="0"
          *ngIf="
            form.get('firstName')?.touched && form.get('firstName')?.invalid
          "
          class="sf-input__error"
          >Please enter your first name</span
        >
      </div>
      <div class="sf-input">
        <input
          i18n-placeholder="@@lastNameRequired"
          type="text"
          placeholder="Last name*"
          formControlName="lastName"
        />
        <span
          i18n="@@lastNameError"
          tabindex="0"
          *ngIf="form.get('lastName')?.touched && form.get('lastName')?.invalid"
          class="sf-input__error"
          >Please enter your last name</span
        >
      </div>
      <div class="sf-input">
        <input
          type="email"
          placeholder="Email*"
          formControlName="email"
          i18n-placeholder="@@signupEmailInput"
        />
        <span
          i18n="@@signupEmailInputError"
          tabindex="0"
          *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
          class="sf-input__error"
          >Please enter a valid email</span
        >
      </div>
      <div class="sf-input sf-datepicker">
        <input
          i18n-aria-label="@@birthdate"
          type="date"
          min="1900-01-01"
          max="2024-06-13"
          [ngStyle]="{
            '--placeholder': '&quot;' + birthdatePLaceholder + '&quot;',
          }"
          aria-label="Birthdate"
          formControlName="birthDate"
        />

        <span
          i18n="@@signupBirthdateInputError"
          tabindex="0"
          *ngIf="
            form.get('birthDate')?.touched && form.get('birthDate')?.invalid
          "
          class="sf-input__error"
          >Please enter your birthdate</span
        >
      </div>

      <div class="sf-input sf-autocomplete">
        <input
          i18n-placeholder="@@signupCountryInput"
          placeholder="Country*"
          sfAutocomplete
          [autocompleteOptions]="['Mexico', 'USA', 'Canada']"
          [inputValue]="form.get('country')?.value"
          (optionChange)="onCountrySelect($event)"
          formControlName="country"
        />
        <span
          i18n="@@signupCountryInputError"
          tabindex="0"
          *ngIf="form.get('country')?.touched && form.get('country')?.invalid"
          class="sf-input__error"
          >Please select your country</span
        >
      </div>
      <div class="sf-radio-group">
        <h3 tabindex="0" i18n="@@notificationPreference">
          Notification preference
        </h3>
        <label>
          <input
            type="radio"
            value="browser"
            formControlName="notificationPreference"
          />
          <span i18n="@@browserNotifications" tabindex="0"
            >Receive In browser notifications</span
          >
        </label>
        <label>
          <input
            type="radio"
            value="email"
            formControlName="notificationPreference"
          />
          <span i18n="@@emailNotifications" tabindex="0"
            >Receive only email notifications</span
          >
        </label>
      </div>
      <button
        class="sf-button primary"
        [disabled]="loading$ | async"
        i18n="@@signupButton"
      >
        Sign up
      </button>
      <div class="sf-separator" i18n="@@or">or</div>
      <button
        class="sf-button sf-button-google"
        i18n="@@signupWithGoogleButton"
      >
        Sign up with Google
      </button>
      <p tabindex="0" i18n="@@loginLink">
        Already have an account? <a routerLink="/login">Log in</a>
      </p>
    </form>
  </div>
  <div class="sf-auth__container sf-auth__container__side">
    <img
      src="assets/images/login-side.png"
      alt="Social Network Illustration"
      i18n-alt="@@authImage"
    />
    <div class="sf-auth__container__side__slogan">
      <h2 tabindex="0" i18n="@@authSloganTitle">Connect with everyone</h2>
      <p tabindex="0" i18n="@@authSloganDescription">
        Be part of this worldwide social network and don't miss anything.
      </p>
    </div>
  </div>
</div>
