<div class="sf-auth">
  <div class="sf-auth__container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="sf-form-title">
        <h1 tabindex="0" i18n="@@fotgotPasswordHeader">Forgot password?</h1>
        <p tabindex="0" i18n="@@forgotPasswordSubtitle">
          No worries, we'll send you reset instructions.
        </p>
      </div>
      <span
        i18n="@@forgotPasswordEmailError"
        tabindex="0"
        class="sf-span sf-span__error"
        *ngIf="errorMessage() == 'no exist'"
        >This email doesn't exist</span
      >
      <span
        i18n="@@forgotPasswordEmailSent"
        tabindex="0"
        class="sf-span sf-span__success"
        *ngIf="resetSuccess$ | async"
        >We sent the reset instructions to your email</span
      >
      <div class="sf-input">
        <input
          i18n-placeholder="@@forgotPasswordEmailInput"
          type="text"
          placeholder="Email*"
          formControlName="email"
        />
        <span
          i18n="@@forgotPasswordEmailInputError"
          tabindex="0"
          *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
          class="sf-input__error"
          >Please enter a valid email</span
        >
      </div>
      <button
        class="sf-button primary"
        [disabled]="loading$ | async"
        i18n="@@forgotPasswordResetPassword"
      >
        Reset password
      </button>
      <p>
        <a routerLink="/login" i18n="@@forgotPasswordBack">Back to Log in</a>
      </p>
    </form>
  </div>
  <div class="sf-auth__container sf-auth__container__side">
    <img
      src="assets/images/login-side.png"
      alt="Social Network Illustration"
      i18n-alt="@@authImage"
    />
    <div class="sf-auth__container__side__slogan">
      <h2 tabindex="0" i18n="@@authSloganTitle">Connect with everyone</h2>
      <p tabindex="0" i18n="@@authSloganDescription">
        Be part of this worldwide social network and don't miss anything.
      </p>
    </div>
  </div>
</div>
