<div class="sf-auth">
  <div class="sf-auth__container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="sf-form-title">
        <h1 tabindex="0">Forgot password?</h1>
        <p tabindex="0">No worries, we'll send you reset instructions.</p>
      </div>
      <span
        tabindex="0"
        class="sf-span sf-span__error"
        *ngIf="errorMessage() == 'no exist'"
        >This email doesn't exist</span
      >
      <span
        tabindex="0"
        class="sf-span sf-span__success"
        *ngIf="resetSuccess$ | async"
        >We sent the reset instructions to your email</span
      >
      <div class="sf-input">
        <input type="text" placeholder="Email*" formControlName="email" />
        <span
          tabindex="0"
          *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
          class="sf-input__error"
          >Please enter a valid email</span
        >
      </div>
      <button class="sf-button primary" [disabled]="loading$ | async">
        Reset password
      </button>
      <p><a routerLink="/login">Back to Log in</a></p>
    </form>
  </div>
  <div class="sf-auth__container sf-auth__container__side">
    <img src="assets/images/login-side.png" alt="Social Network Illustration" />
    <div class="sf-auth__container__side__slogan">
      <h2 tabindex="0">Connect with everyone</h2>
      <p tabindex="0">
        Be part of this worldwide social network and don't miss anything.
      </p>
    </div>
  </div>
</div>
