<div class="sf-sidebar" *ngIf="!displayRightComponent">
  <ul class="sf-sidebar__menu">
    <li routerLink="/feed" [ngClass]="{ active: router.url == '/feed' }">
      <div>
        <i-feather name="home"></i-feather>
      </div>
      <span>Home</span>
    </li>
    <li>
      <div>
        <i-feather name="users"></i-feather>
      </div>
      <span>Frieds</span>
    </li>
    <li>
      <div>
        <i-feather name="shopping-cart"></i-feather>
      </div>
      <span>Marketplace</span>
    </li>
    <li>
      <div>
        <i-feather name="bookmark"></i-feather>
      </div>
      <span>Saved</span>
    </li>
    <li>
      <div>
        <i-feather name="star"></i-feather>
      </div>
      <span>Favourites</span>
    </li>
  </ul>
  <h3>User groups</h3>
  <ul *ngIf="user?.userGroups">
    <li *ngFor="let group of user?.userGroups">
      <img [src]="group.icon" alt="" />
      <span>{{ group.name }}</span>
    </li>
  </ul>
</div>

<div class="sf-sidebar sf-sidebar__right" *ngIf="displayRightComponent">
  <h3>Active Friends</h3>
  <ul *ngIf="user?.friends">
    <li *ngFor="let friend of user?.friends">
      <img [src]="friend.profilePicture" alt="" />
      <span>{{ friend.firstName }} {{ friend.lastName }}</span>
    </li>
  </ul>
</div>
