@import "../../styles/variables.scss";

.sf-sidebar {
  position: fixed;
  top: $header-height;
  width: 350px;
  height: calc(100% - $header-height);
  border-right: 1px solid $color-gray-01;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 99;

  &__right {
    left: unset;
    border-right: unset;
    border-left: 1px solid $color-gray-01;

    ul li {
      position: relative;

      &::before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: $color-green;
        position: absolute;
        left: 34px;
        bottom: 5px;
        border-radius: 50%;
        border: 1px solid $color-gray-01;
      }
    }
  }

  h3 {
    margin: 0;
    color: gray;
    font-weight: 500;
  }

  &__menu {
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-gray-01;

    & + h3 {
      padding-top: 10px;
    }

    li:nth-child(1) > div {
      background-color: rgba($color-primary, 0.4);
      i-feather {
        color: $color-primary;
        fill: $color-primary;
      }
    }
    li:nth-child(2) > div {
      background-color: rgba($color-green, 0.4);
      i-feather {
        color: $color-green;
        fill: $color-green;
      }
    }
    li:nth-child(3) > div {
      background-color: rgba($color-secondary, 0.4);
      i-feather {
        color: $color-secondary;
        fill: $color-secondary;
      }
    }
    li:nth-child(4) > div {
      background-color: rgba($color-primary-dark, 0.4);
      i-feather {
        color: $color-primary-dark;
        fill: $color-primary-dark;
      }
    }
    li:nth-child(5) > div {
      background-color: rgba($color-error, 0.4);
      i-feather {
        color: $color-error;
        fill: $color-error;
      }
    }
  }

  ul:not(.sf-feed__sidebar__menu) {
    padding-bottom: 20px;
  }

  ul {
    padding-left: 0;

    li {
      display: flex;
      gap: 15px;
      align-items: center;
      padding: 5px 0 5px 5px;

      &:hover {
        background-color: #e7e7e7;
        cursor: pointer;
      }

      > div {
        background-color: $color-secondary;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        i-feather {
          width: 20px;
          height: 20px;
        }
      }

      span {
        font-size: 16px;
        font-weight: 600;
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}

@media only screen and (max-width: 1279px) {
  .sf-sidebar:not(.sf-sidebar__right) {
    position: relative;
  }
}

@media only screen and (max-width: 1023px) {
  .sf-sidebar__right {
    position: relative;
  }
}
