<div class="sf-post">
  <sf-card>
    <img
      [src]="post?.userData?.profilePicture"
      sf-card-avatar
      alt="User Post Profile Picture"
      i18n-alt="@@postPtofilePicture"
    />
    <sf-card-title
      >{{ post?.userData?.firstName }}
      {{ post?.userData?.lastName }}</sf-card-title
    >
    <sf-card-description *ngIf="post?.isSponsored" i18n="@@sponsored"
      >Sponsored</sf-card-description
    >
    <sf-card-description *ngIf="!post?.isSponsored">{{
      post?.date | date
    }}</sf-card-description>
  </sf-card>
  <div class="sf-post__body">
    <p tabindex="0">{{ post?.description }}</p>
    <img
      tabindex="0"
      [src]="post?.picture"
      *ngIf="post?.picture"
      alt="Post Picture"
      i18n-alt="@@postPicture"
    />
  </div>
  <div class="sf-post__footer">
    <div class="sf-post__footer__total">
      <span tabindex="0" i18n="@@peopleLiked"
        >{{ post?.totalLikes }} People liked this</span
      >
      •
      <span tabindex="0" i18n="@@peopleCommented"
        >{{ post?.totalComments }} Comments</span
      >
    </div>
    <div class="sf-post__footer__actions">
      <button
        [ngClass]="{ 'sf-post-liked': post?.liked }"
        (click)="onLikeChange()"
        aria-label="Like Post Button"
        i18n-aria-label="@@likePostAriaLabel"
        i18n="@@like"
      >
        <i-feather name="thumbs-up"></i-feather>Like
      </button>
      <button
        (click)="commentInput.focus()"
        aria-label="Comment Post Button"
        i18n-aria-label="@@commentPostAriaLabel"
        i18n="@@comment"
      >
        <i-feather name="message-circle"></i-feather>Comment
      </button>
      <button
        aria-label="Share Post Button"
        i18n-aria-label="@@sharePostAriaLabel"
        i18n="@@share"
      >
        <i-feather name="share-2"></i-feather>Share
      </button>
    </div>
    <div
      class="sf-post__footer__comment_list"
      *ngIf="post && post.comments && post.comments.length > 0"
    >
      <ul>
        <li *ngFor="let comment of post?.comments">
          <img
            [src]="comment.userData.profilePicture"
            alt=" Comment Profile Picture"
            i18n-alt="@@commentProfilePicture"
          />
          <div>
            <h4>
              {{ comment.userData.firstName }} {{ comment.userData.lastName }}
            </h4>
            <p>
              {{ comment.comment }}
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="sf-post__footer__comment">
      <input
        #commentInput
        type="text"
        placeholder="Write a comment..."
        [(ngModel)]="commentText"
        i18n-placeholder="@@writeComment"
      />
      <button
        (click)="onCommentChange()"
        aria-label="Send Comment"
        i18n-aria-label="@@sentComment"
      >
        <i-feather name="send"></i-feather>
      </button>
    </div>
  </div>
</div>
