<sf-header
  (menuButtonClick)="toggleDisplayMenu()"
  (friendsButtonClick)="toggleDisplayFrieds()"
/>
<div class="sf-feed">
  <div
    class="sf-feed__section"
    [ngClass]="{ 'sf-feed__section__responsive-display': displayMenu }"
  >
    <sf-sidebar [user]="user" />
  </div>
  <div class="sf-feed__content">
    <div class="sf-feed__content__posts">
      <sf-post-placeholder *ngIf="loading$ | async" />
      <sf-post
        *ngFor="let post of feedPosts"
        [avatar]="post.cardPicture"
        [description]="post.description"
        [title]="post.cardTitle"
        [subtitle]="post.cardSubtitle"
        [picture]="post.picture"
        [totalLikes]="post.totalLikes"
        [totalComments]="post.totalComments"
      />
    </div>
  </div>
  <div
    class="sf-feed__section"
    [ngClass]="{ 'sf-feed__section__responsive-display': displayFriends }"
  >
    <sf-sidebar [user]="user" [displayRightComponent]="true" />
  </div>
</div>
