@import "../../shared/styles/variables.scss";

.sf-feed {
  padding-top: $header-height;
  background-color: $color-gray-02;
  min-height: calc(100% - 90px);
  display: flex;
  justify-content: center;

  &__section {
    width: 350px;
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    margin: 20px 80px 30px 80px;

    &__posts {
      min-width: 500px;
      max-width: 700px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  .sf-feed {
    &__content {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: 1279px) {
  .sf-feed {
    &__section {
      &__responsive-display:first-child {
        display: block !important;
      }

      &:first-child {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        height: 100%;
        overflow-y: auto;
        z-index: 99;

        .sf-feed__sidebar {
          position: relative;
        }
      }
    }

    &__content {
      &__posts {
        min-width: unset;
      }
    }
  }

  .sf-header {
    &__section {
      > button:not(.sf-header__section__chat-button) {
        display: block !important;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .sf-feed {
    &__section {
      &__responsive-display:last-child {
        display: block !important;
      }
      &:last-child {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        background-color: white;
        height: 100%;
        overflow-y: auto;
        z-index: 99;

        &__responsive-display {
          display: block;
        }

        .sf-feed__sidebar {
          position: relative;
        }
      }
    }
  }

  sf-feed .sf-header {
    &__section {
      &__chat-button {
        display: block !important;
      }
    }
  }
}
