<div class="sf-auth">
  <div class="sf-auth__container sf-auth__container__side">
    <img
      src="assets/images/login-side.png"
      alt="Social Network Illustration"
      i18n-alt="@@authImage"
    />
    <div class="sf-auth__container__side__slogan">
      <h2 tabindex="0" i18n="@@authSloganTitle">Connect with everyone</h2>
      <p tabindex="0" i18n="@@authSloganDescription">
        Be part of this worldwide social network and don't miss anything.
      </p>
    </div>
  </div>
  <div class="sf-auth__container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="sf-form-title">
        <h1 tabindex="0" i18n="@@loginTitle">Welcome back!</h1>
      </div>
      <span
        i18n="loginError"
        tabindex="0"
        class="sf-span sf-span__error"
        *ngIf="errorMessage() == '401'"
        >Incorrect email or password</span
      >
      <span
        i18n="@@loginUnknownError"
        tabindex="0"
        class="sf-span sf-span__error"
        *ngIf="errorMessage() == '0'"
        >There's a server error, please try again</span
      >
      <div class="sf-input">
        <input
          type="email"
          placeholder="Email"
          formControlName="email"
          i18n-placeholder="@@emailInput"
        />
        <span
          i18n="loginEmailError"
          tabindex="0"
          *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
          class="sf-input__error"
          >Please enter a valid email</span
        >
      </div>
      <div class="sf-input">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          i18n-placeholder="@@passwordInput"
        />
        <span
          i18n="loginPasswordError"
          tabindex="0"
          *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
          class="sf-input__error"
          >Please enter your password</span
        >
      </div>
      <a routerLink="/forgot-password" i18n="loginForgotPasswordLink"
        >I forgot my password</a
      >
      <button
        class="sf-button primary"
        [disabled]="loading$ | async"
        i18n="loginButton"
      >
        Log in
      </button>
      <div class="sf-separator" i18n="@@or">or</div>
      <button class="sf-button sf-button-google" i18n="loginWithGoogleButton">
        Log in with Google
      </button>
      <p tabindex="0" i18n="loginSignupLink">
        Don't you have an account? <a routerLink="/signup">Sign up</a>
      </p>
    </form>
  </div>
</div>
