$font-family: Arial, Helvetica, sans-serif;
$color-primary: #58aeda;
$color-primary-dark: #619ad5;
$color-secondary: #f78283;
$color-accent: #8a6cb1;
$color-gray-01: #c7c7c7;
$color-gray-02: #f3f6f8;
$color-error: #c44b29;
$color-green: #37b986;
$header-height: 75px;
