@import "./app/shared/styles/mixins.scss";
@import "./app/shared/styles/variables.scss";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: $font-family;
}

p,
span,
h1,
h2,
h3,
h4,
b,
label {
  &:focus-visible,
  &:focus {
    border: 2px solid $color-primary-dark;
    border-radius: 5px;
  }
}

.sf-input {
  @include input;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__icon {
    position: relative;

    i-feather {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #757575;
    }

    input {
      padding-left: 40px;
    }
  }
}

.sf-datepicker {
  input {
    position: relative;

    &:focus,
    &:focus-visible,
    &.ng-valid {
      &::after {
        content: unset;
      }
    }

    &::after {
      font-family: $font-family;
      content: var(--placeholder);
      position: absolute;
      top: 15px;
      left: 0;
      background-color: white;
      height: 45px;
      width: 260px;
      box-sizing: border-box;
      padding: 0 10px;
      color: #757575;
    }
  }
}

.sf-radio-group {
  display: flex;
  flex-direction: column;
  width: 300px;

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  > label {
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      + span {
        &:before {
          content: "";
          background: white;
          border-radius: 100%;
          border: 1px solid $color-gray-01;
          display: inline-block;
          width: 1.2em;
          height: 1.2em;
          position: relative;
          top: 0;
          margin-right: 1em;
          vertical-align: top;
          cursor: pointer;
          text-align: center;
          transition: all 250ms ease;
          box-sizing: border-box;
        }
      }
      &:checked {
        + span {
          &:before {
            background-color: white;
            border-width: 5px;
            border-color: $color-primary;
          }
        }
      }
      &:focus {
        + span {
          &:before {
            outline: none;
            border-color: $color-primary-dark;
          }
        }
      }
      &:disabled {
        + span {
          &:before {
            box-shadow: inset 0 0 0 4px $color-primary;
            border-color: darken($color-primary, 25%);
            background: darken($color-primary, 25%);
          }
        }
      }
    }
  }
}

.sf-span {
  font-size: 14px;
  padding: 15px;
  height: 25px;
  border-radius: 5px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__error {
    color: $color-error;
    border: 1px solid $color-error;
    background-color: rgba($color-error, 0.1);
  }

  &__success {
    color: $color-green;
    border: 1px solid $color-green;
    background-color: rgba($color-green, 0.1);
  }
}

.sf-separator {
  width: 300px;
  height: 20px;
  position: relative;
  font-size: 13px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    width: 135px;
    position: absolute;
    top: 10px;
    content: "";
    border-bottom: 1px solid $color-gray-01;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.sf-button {
  height: 35px;
  border-width: 1px;
  border-style: solid;
  min-width: 100px;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;

  &.primary {
    border-color: $color-primary;
    background-color: $color-primary;
    color: white;
  }

  &.secondary {
    border-color: $color-secondary;
    background-color: $color-secondary;
    color: white;
  }

  &.green {
    border-color: $color-green;
    background-color: $color-green;
    color: white;
  }
}

.sf-button-google {
  border-color: $color-gray-01;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &::before {
    content: url(/assets/images/google-logo.svg);
    position: relative;
    top: 2px;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;

  .sf-form-title {
    text-align: left;
    margin-bottom: 30px;
    width: 300px;

    h1 {
      font-weight: 400;
      margin-bottom: 10px;
    }

    h1 + p {
      margin-top: 0;
      opacity: 0.7;
    }
  }

  a {
    font-size: 12px;
    text-decoration: none;
    color: $color-primary;
    width: 300px;
    text-align: right;
  }

  button + p {
    margin-top: 30px;
  }

  p {
    font-size: 14px;
    margin: 0;

    a {
      font-size: 14px;
    }
  }
}

.sf-autocomplete {
  @include input;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;

  .sf-autocomplete__list {
    position: absolute;
    top: 50px;
    width: 300px;
    min-height: 50px;
    box-shadow: 0px 1px 3px 1px $color-gray-01;
    border-radius: 5px;
    max-height: 250px;
    overflow: auto;
    background-color: white;
    z-index: 9999;

    ul {
      padding: 0 10px;

      li {
        list-style: none;
        padding: 7px;
        cursor: pointer;

        &:hover {
          background-color: rgba($color-primary, 0.3);
        }
      }
    }
  }
}

.sf-auth {
  min-height: 100%;
  display: flex;

  &__container {
    width: 40%;

    .sf-input input,
    .sf-button {
      width: 300px;
    }

    &__side {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 60%;
      background-color: $color-primary;
      position: relative;

      &__slogan {
        text-align: center;
        color: white;
        max-width: 90%;
        margin-top: -50px;
      }

      img {
        width: 70%;
      }
    }
  }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 700px) and (orientation: portrait),
  screen and (max-width: 700px) {
  .sf-auth {
    &__container {
      width: 100%;

      &__side {
        display: none;
      }
    }
  }
}

@media only screen and (min-device-height: 300px) and (max-device-height: 700px) and (orientation: landscape) {
  .sf-auth {
    &__container {
      width: 50%;

      &__side {
        width: 50%;

        &__slogan {
          bottom: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (min-height: 700px) and (max-height: 1024px) and (orientation: portrait) {
  .sf-auth {
    &__container {
      width: 50%;

      &__side {
        width: 50%;
      }
    }
  }
}
